*, *:before, *:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Maven Pro', sans-serif;
}

.fixed{
    position: fixed;
    width: 100%;
}

a{
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    background: url(../img/mainBG.jpg) no-repeat;
    background-size: cover;
}

.main-overlay{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .85;
    background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
}

.menu-list{
    width: 90%;
}

.menu-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    position: relative;
    z-index: 1;
}

.menu-list ul li{

}

.menu-list ul li a{
    color: white;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.menu-list ul li a:hover{
    letter-spacing: 1px;
    opacity: .8;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
}

.button-get-started{
    margin-left: 100px;
    padding: 15px 30px;
    border: solid 1px #fff;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.button-menu-for-device{
    display: none;
}

.menu{
    align-items: center;
    height: 10vh;
    z-index: 1;
    width: 90%;
    display: flex;
    position: relative;
}

.logo{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 30%;
    display: flex;
    align-items: center;
}

.logo-text{
    cursor: default;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 3px;
    color: #fff;
    font-weight: bold;
}

.text-in-main{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    width: 90%;
    height: 40%;
    color: #fff;
}

.text-in-main h2{

    font-size: 14px;
    text-transform: uppercase;
}

.text-in-main h1{
    font-size: 86px;
}

.text-in-main p{
    width: 35%;
    text-align: center;
    margin-top: -50px;
    letter-spacing: 1px;
    line-height: 20px;
}

.line{
    width: 25px;
    height: 1px;
    background-color: white;
    margin-top: 19px;
    margin-left: 10px;
    margin-right: 10px;
}

.inline{
    display: flex;
    margin-bottom: -50px;
}

.arrow{
    position: relative;
    z-index: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: white 0 0 10px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.arrow-bottom{
    position: absolute;
    top: 2px;
    left: 18px;
    color: #000;
    font-weight: bold;
    font-size: 34px;
}

.arrow:hover{
    box-shadow: #2c28ff 0 0 15px;
    cursor: pointer;
    margin-bottom: 10px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.select-a-plan{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 950px;
    height: 100%;
}

.black-line{
    background-color: #a3a3a3;
    margin-top: 21px;
}


.title-block{
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 90%;
    display: flex;
}

.title-block .inline{
    margin-top: 30px;
}

.title-block h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #a3a3a3;
}

.title-block h1{
    font-size: 60px;
    color: #484848;
}

.title-block p {
    margin-top: -30px;
    width: 70%;
    text-align: center;
    font-size: 16px;
    color: #a3a3a3;
}

.rectangles{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    width: 90%;

}

.object{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    position: relative;
    width: 450px;
    height: 600px;
    border: solid 1px #cbcbcb;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}

.object:hover{
    box-shadow: #cbcbcb 0 0 100px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.object .img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}

.object h2{
    margin: 0;
    font-weight: bold;
    color: #808080;
    letter-spacing: 1px;
    height: 20px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.price{
    display: flex;
    flex-direction: row;
    color: #3c3c3c;
}

.price h4{
    font-size: 16px;
}

.price h1{
    font-size: 60px;
    margin-top: 5px;
}

.price h3{
    margin-top: 40px;
}

.object p{
    width: 60%;
    text-align: center;
}

.object a{
    font-size: 12px;
    text-transform: uppercase;
    padding: 18px 60px;
    border-radius: 30px;
    color: #9c9c9c;
    background-color: #fff;
    border: solid 1px #a3a3a3;
    box-shadow: #c0c0c0 0 0 15px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.object a:hover{
    color: white;
    background-color: #6e45e2;
    border: solid 1px #6e45e2;
    box-shadow: #a3a3a3 0 0 0;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.take-control{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 450px;
    background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
}

.content{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.content h1{
    font-size: 14px;
}

.content h2{
    font-size: 60px;
    margin-top: 0;
}

.content .block-buttons a{
    font-weight: bold;
    padding: 15px 30px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    color: #4e4e4e;
    margin: 0 15px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.content .block-buttons a:hover{
    color: #fff;
    background-color: #6e45e2;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

header{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    color: black;
}

.menu-footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.menu-footer .logo .logo-text{
    color: black;
}

.menu-footer .menu-list ul li a{
    color: black;
}

.menu-footer .menu-list .button-get-started{
    border: solid 1px #000;
}

footer{
    box-shadow: #a3a3a3 0 0 10px;
    margin-top: 4px;
    border-top: solid 1px #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.links{
    margin-right: 20px;
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.links img{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.links img:hover{
    filter: brightness(0%);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

@media screen and (max-width: 1023px) {

    .button-menu-for-device{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 50px;
        width: 20%;
        margin-top: 17px;
    }

    .line-menu-1{
        margin-bottom: 8px;
        position: relative;
        width: 50%;
        height: 8px;
        background-color: white;
    }

    .line-menu-2{
        margin-bottom: 8px;
        position: relative;
        width: 70%;
        height: 8px;
        background-color: white;
    }

    .line-menu-3{
        margin-bottom: 8px;
        position: relative;
        width: 100%;
        height: 8px;
        background-color: white;
    }

    .logo{
        margin-top: 17px;
    }

    .menu-list ul li a{
        color: white;
        transition-duration: 0s;
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
    }

    .menu-list ul li a:hover{
        letter-spacing: 0;
        transition-duration: 0s;
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
    }

    .menu-list ul {
        padding-left: 0;
        list-style: none;
        font-size: 40px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 4;
        position: fixed;
        left: 0;
        text-align: center;
        margin-top: 0;

        width: 100%;
        height: 90vh;
        background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
        background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
        background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    }

    .menu-list ul li{
        border-bottom: solid 1px #fff;
        padding-bottom: 4px;
    }

    .menu-list{
        margin-left: 0;
        z-index: 1;
        top: 40px;
        position: relative;
        justify-content: space-around;
    }

    .button-get-started{
        display: none;
    }

    .text-in-main{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 0;
        width: 90%;
        height: 40%;
        color: #fff;
    }

    .text-in-main h2{
        margin-top: -30px;
        font-size: 14px;
        text-transform: uppercase;
    }

    .text-in-main h1{
        font-size: 66px;
        margin-bottom: 70px;
    }

    .text-in-main p{
        width: 35%;
        text-align: center;
        margin-top: -50px;
        letter-spacing: 1px;
        line-height: 20px;
    }

    .line{
        display: none;
    }


}

@media screen and (max-width: 500px) {
    .button-menu-for-device{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 50px;
        width: 20%;
        margin-top: 17px;
    }

    .text-in-main h2{
        margin-top: -40px;
    }

    .line{
        display: none;
    }

    .text-in-main h1{
        font-size: 50px;

    }

    .text-in-main p{
        width: 90%;
        margin-top: 0;
    }

    .title-block h1{
        font-size: 50px;
    }

    .block-buttons{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .object a{
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 320px){
    .title-block h1{
        margin-top: 80px;
        font-size: 50px;
    }

    .object a{
        margin-bottom: 40px;
    }

    footer p{
        font-size: 10px;
        width: 65%;
    }

    footer .links{
        width: 35%;
    }
}




